<div class="dashboard-container">
  <div class="dashboard-nav">
    <div class="back">
      <div class="return"> <button class="btn btn-secondary btn-icon" (click)="goBack()"><i
            class="fas fa-arrow-left"></i></button></div>
    </div>
    <div class="buttonsNav">
      <div class="button-group">
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-house"></i>
          Inicio
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-users"></i>
          Usuarios
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-store"></i>
          Productos
        </a>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="dashboard-header">
      <div class="header"> <i class="fa-solid fa-pen-to-square"></i> Editor Distribuidor / Cliente</div>
      <div class="logout">
        <a href="#">Cerrar sesión</a>
      </div>
    </div>
    <div class="dashboard-conten">
      <div class="button-group2">
        <div class="input"> <label style="padding-right: 8px;" for="cliente">Nombre:</label>
          <input type="text"  name="nombre">
        </div>

        <div class="input"> <label style="padding-right: 8px;" for="tipo_producto">Dirección:</label>
          <input type="text" name="direccion">
        </div>

        <div class="input"> <label style="padding-right: 8px;" for="tipo_producto">Telefono:</label>
          <input type="text"  name="telefono">
        </div>

        <div class="input"><label for="producto">Tipo de Cliente:</label>
          <select  name="tipoCliente">
            <option value="producto1">Distribuidor</option>
            <option value="producto2">Comprador</option>
          </select>
        </div>
        <div class="save"> <button class="btn btn-primary "><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
        </div>

      </div>


    </div>
  </div>

</div>