<div class="dashboard-container">
  <div class="dashboard-nav">
    <div class="back">
      <div class="title"> Comercializadora Gremlins</div>
    </div>
    <div class="buttonsNav">
      <div class="button-group">
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-house"></i>
          Inicio
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-users"></i>
          Usuarios
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-store"></i>
          Productos
        </a>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="dashboard-header">
      <div class="header">Home</div>
      <div class="logout">
        <a href="#">Cerrar sesión</a>
      </div>
    </div>
    <div class="dashboard-conten">
      <div class="button-group2">
        <button class="button2" (click)="goToClientes()">
          <i class="fa-solid fa-users-line icon"></i>
          Compradores
          <br>
          Distribuidores
        </button>
        <button class="button3" (click)="goToProductos()">
          <i class="fa-solid fa-store icon2"></i>
          <div style="margin-top: 6px;">Productos</div>
        </button>
      </div>

    </div>
  </div>

</div>