<div class="dashboard-container">
  <div class="dashboard-nav">
    <div class="back">
      <div class="return"> <button class="btn btn-secondary btn-icon" (click)="goBack()"><i
            class="fas fa-arrow-left"></i></button></div>
    </div>
    <div class="buttonsNav">
      <div class="button-group">
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-house"></i>
          Inicio
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-users"></i>
          Usuarios
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-store"></i>
          Productos
        </a>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="dashboard-header">
      <div class="header"> <i class="fa-solid fa-cart-shopping"></i> Agregar Productos</div>
      <div class="logout">
        <a href="#">Cerrar sesión</a>
      </div>
    </div>
    <div class="dashboard-conten">
      <div class="button-group2">
        <div class="input"> <label style="padding-right: 8px;" for="nombreProducto">Nombre del Producto:</label>
         <input type="text" [(ngModel)]="nombreProducto" >
        </div>
        <div class="input"> <label style="padding-right: 8px;" for="tipo_producto">Tipo de Producto:</label>
          <input type="text" name="tipo_producto" [(ngModel)]=" tipo_producto">
        </div>
        <div class="input"> <label style="padding-right: 8px;" for="proveedor">Proveedor:</label>
          <input type="text" name="proveedor" [(ngModel)]="proveedor">
        </div>
        <div class="save"> <button class="btn btn-primary " (click)="crearProducto()"><i
              class="fa-regular fa-floppy-disk"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>