<div class="dashboard-container">
  <div class="dashboard-nav">
    <div class="back">
      <div class="return"> <button class="btn btn-secondary btn-icon" (click)="goBack()"><i
            class="fas fa-arrow-left"></i></button></div>
    </div>
    <div class="buttonsNav">
      <div class="button-group">
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-house"></i>
          Inicio
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-users"></i>
          Usuarios
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-store"></i>
          Productos
        </a>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="dashboard-header">
      <div class="header">Productos</div>
      <div class="logout">
        <a href="#">Cerrar sesión</a>
      </div>
    </div>
    <div class="dashboard-conten">
      <div class="button-group2">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre del Producto</th>
              <th>Tipo de producto</th>
              <th>Proveedor</th>
              <th>Acciones</th>
              <br>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.id }}</td>
              <td>{{ item.producto.nombreProducto }}</td>
              <td>{{ item.producto.tipoProducto }}</td>
              <td>{{ item.producto.proveedor }}</td>
              <td>
                <div class="actions">
                  <button class="btn btn-primary" (click)="goToClientes(item.id)"><i
                      class="fa-sharp fa-solid fa-pen-to-square"></i> Editar</button>
                  <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="addProduct"> <button class="btn btn-primary" (click)="add()"><i class="fa-solid fa-file"></i>
        Agregar Producto</button>
    </div>


  </div>

</div>