<div class="container">
  <h1>
    <span class="circle">
      <i class="fa fa-lock"></i>
    </span>
  </h1>
  <h1>Inicio
  </h1>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="username" name="username" placeholder="Email*"
        required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password*"
        required>
      <small class="form-text text-muted">
        <a href="#">¿Olvidó su contraseña?</a>
      </small>
      <small class="form-text text-muted" style="padding-left: 162px;">
        <a href="#">Regístrese aquí</a>
      </small>

    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>

  </form>
</div>