.container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b52083;
  }

  .circle i {
    font-size: 18px;
    color: #fff;
  }

  .fa-lock {
    font-size: 24px; /* ajusta el tamaño del icono según tus necesidades */
    color: #333; /* cambia el color del icono según tus necesidades */
    margin-right: 5px; /* agrega un margen derecho para separar el icono del texto */
    padding-left: 9px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #4CAF50;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: #3e8e41;
  }

  
.fa-lock {
    font-size: 48px;
    margin-right: 10px;
  }