<div class="dashboard-container">
  <div class="dashboard-nav">
    <div class="back">
      <div class="return" (click)="goBack()"><i class="fa-solid fa-chevron-left"></i></div>
    </div>
    <div class="buttonsNav">
      <div class="button-group">
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-house"></i>
          Inicio
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-users"></i>
          Usuarios
        </a>
        <a href="#" class="button">
          <i class="fa-sharp fa-solid fa-store"></i>
          Productos
        </a>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class="dashboard-header">
      <div class="header">Compradores / Distribuidores</div>
      <div class="logout">
        <a href="#">Cerrar sesión</a>
      </div>
    </div>
    <div class="dashboard-conten">
      <div class="button-group2">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre del Producto</th>
              <th>Cliente</th>
              <th>Tipo de Cliente</th>
              <th>Dirección</th>
              <th>Tipo ID</th>
              <th>Número de identificación</th>
              <th> Telefono</th>
              <th>Acciones</th>
              <br>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.id }}</td>
              <td>{{ item.producto.nombreProducto }}</td>
              <td>{{ item.cliente.nombreCliente }}</td>
              <td>{{ item.cliente.tipoComprador }}</td>
              <td>{{ item.cliente.direccion }}</td>
              <td>{{ item.cliente.tipoID }}</td>
              <td>{{ item.cliente.idCliente }}</td>
              <td>{{ item.cliente.telefono }}</td>
              <td>
                <div class="actions">
                  <button class="btn btn-primary" (click)="goToClientes()"><i
                      class="fa-sharp fa-solid fa-pen-to-square"></i> Editar</button>
                  <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>